---
layout: default
---

<a href="#top" id="toTop"></a>

{% include directory.html %}

<div class="section" id="golden-rule">
    <div class="col">
        <h2>最佳原则</h2>
        <p>坚持制定好的代码规范。</p>
        <p>无论团队人数多少，代码应该同出一门。</p>
        <p>如果你想要为这个规范做贡献或觉得有不合理的地方，请访问<a href="https://github.com/AlloyTeam/CodeGuide/issues/new">New Issue</a>。</p>
    </div>
</div>

{% include naming_rules.html %}

{% include html_rules.html %}

{% include css_rules.html %}

{% include js_rules.html %}

{% include check.html %}
