<footer class="footer">
  <p>&lt;3</p>
  <p>Heavily inspired by <a href="https://github.com/necolas/idiomatic-css">Idiomatic CSS</a> and the <a href="http://github.com/styleguide">GitHub Styleguide</a>. origin Project by <a href="https://github.com/mdo">@mdo</a>. partly chinese translated by <a href="http://zoomzhao.github.io/code-guide/" target="_blank">@zoomzhao</a>. Made with all the love by <a href="https://twitter.com/materliu">@AlloyTeam-materliu</a>.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/materliu">@materliu</a>.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=materliu&repo=code-guide&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=materliu&repo=code-guide&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/materliu" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @materliu</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="materliu">Tweet</a>
    </li>
  </ul>
</footer>
