<header class="masthead">
  <div class="container">
    <span class="icon">&#9997;</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>
    <p class="lead">通过分析github代码库总结出来的工程师代码书写习惯：<a href="http://sideeffect.kr/popularconvention#javascript" target="_blank">GO!!!</a></p>

    <p class="masthead-links">
      <a href="https://github.com/materliu/code-guide">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="https://twitter.com/materliu">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
