<div class="heading" id="naming">
  <h2>命名规则</h2>
</div>

<div class="section" id="project-naming">
    <div class="col">
        <h3>项目命名</h3>
        <p>全部采用小写方式， 以下划线分隔。</p>
        <p>例：my_project_name</p>
    </div>
</div>

<div class="section" id="folder-naming">
    <div class="col">
        <h3>目录命名</h3>
        <p>参照项目命名规则；</p>
        <p>有复数结构时，要采用复数命名法。</p>
        <p>例：scripts, styles, images, data_models</p>
    </div>
</div>

<div class="section" id="js-naming">
    <div class="col">
        <h3>JS文件命名</h3>
        <p>参照项目命名规则。</p>
        <p>例：account_model.js</p>
    </div>
</div>

<div class="section" id="css-naming">
    <div class="col">
        <h3>CSS, SCSS文件命名</h3>
        <p>参照项目命名规则。</p>
        <p>例：retina_sprites.scss</p>
    </div>
</div>

<div class="section" id="html-naming">
    <div class="col">
        <h3>HTML文件命名</h3>
        <p>参照项目命名规则。</p>
        <p>例：error_report.html</p>
    </div>
</div>